.keyboard-div {
  width: 600px;
  height: 50px;
  display: flex;
  position: relative;
}

.keyboard-search-icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.keyboard-search-circle {
  border: 2px solid #000000;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 17.5px;
  top: 15px;
  box-sizing: border-box;
}
.keyboard-search-inner {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: rotate(-45deg);
}
.keyboard-search-line {
  width: 2px;
  height: 7px;
  position:absolute;
  left: 25px;
  top: 30px;
  background-color: #000000;
}
.keyboard-search {
  width: 50px;
  height: 50px;
  background:none;
  padding:0px;
  border: none;
  outline: none;
  cursor: pointer;
}

.keyboard-search:active .keyboard-search-line  {
  background-color: #007bff;
}

.keyboard-search:active .keyboard-search-circle {
  border: 2px solid #007bff;
}

.keyboard-input {
  height: 50px;
  width: calc(100% - 50px);
  box-sizing:border-box;

}


.keyboard-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background:none;
  padding:0px;
  border: none;
  outline: none;
  top: 0px;
  right: 50px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
}
.keyboard-button:active {
  color: #007bff;

}

.keyboard-container {
  position: absolute;
  top: 45px;
  left: 2px;
  width: 546px;
  height: 200px;
  background-color: #fafafa;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
  z-index: -1;
  display: none;
  padding: 15px 10px 10px;
  box-sizing: border-box;
}
.keyboard-row {
  width: 100%;
  height: 25px;
  margin-bottom: 2px;
  display: flex;
}
.keyboard-button-class {
  background-color: #ffffff;
  height:25px;
  box-sizing: border-box;
  border: 1px solid #00000033;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  margin: 0px 1px;
  display: block;
  outline: none;
  cursor: pointer;

}

.keyboard-special-button {
  margin: 0px 1px;
  display: block;
  height:25px;
  width: 25px;
  box-sizing: border-box;
  text-align: center;
}

.keyboard-button-class:active {
  color: #ffffff;
  background-color: #007bff;
}
.keyboard-button-active {
  color: #ffffff;
  background-color: #007bff;
}


.keyboard-text-left {
  text-align: left;
}

.keyboard-text-right {
  text-align: right;
}

.keyboard-text-small {
  font-size: 9px;
}

.keyboard-text-smaller {
  font-size: 7px;
}

.keyboard-container-inner {
  transform: translate(-50%,-50%) scale(1.3);
  position: absolute;
  left: 50%;
  top: calc(50% + 5px);
}

.keyboard-half-button {
  margin: 0px;
  height: 12px;
  width: 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #00000033;
  text-align: center;
  line-height: 6px;
  vertical-align: middle;
  margin-bottom:1px;
  display: block;
  outline: none;
  cursor: pointer;
}

.keyboard-text-fix {
  line-height: 15px;
}

key:nth-last-child(1) .keyboard-half-button {
  margin: 0px;
  height: 12px;
}
