<div class="keyboard-div" >
  <input type="text" class="keyboard-input" onkeyup="keyboardUpdate(this)" id="keyboard-input">
  <button type="button" class="keyboard-button" onclick="keyboardToggle()">&#x2328;</button>
  <button type="button" class="keyboard-search" onclick="keyboardSearch()">
    <div class="keyboard-search-icon">
      <div class="keyboard-search-inner">
        <div class="keyboard-search-circle"></div>
        <div class="keyboard-search-line"></div>
      </div>
    </div>
  </button>
  <div class="keyboard-container" id="keyboard">
    <div class="keyboard-container-inner">
      <div class="keyboard-row">
        <key shift="~" unshift="`" size="20"></key>
        <key shift="!" unshift="1" size="25"></key>
        <key shift="@" unshift="2" size="25"></key>
        <key shift="#" unshift="3" size="25"></key>
        <key shift="$" unshift="4" size="25"></key>
        <key shift="%" unshift="5" size="25"></key>
        <key shift="^" unshift="6" size="25"></key>
        <key shift="&" unshift="7" size="25"></key>
        <key shift="*" unshift="8" size="25"></key>
        <key shift="(" unshift="9" size="25"></key>
        <key shift=")" unshift="0" size="25"></key>
        <key shift="_" unshift="-" size="25"></key>
        <key shift="+" unshift="=" size="25"></key>
        <key shift="bs" unshift="bs" size="60"></key>
      </div>
      <div class="keyboard-row">
        <key shift="tab" unshift="tab" size="40"></key>
        <key shift="Q" unshift="q" size="25"></key>
        <key shift="W" unshift="w" size="25"></key>
        <key shift="E" unshift="e" size="25"></key>
        <key shift="R" unshift="r" size="25"></key>
        <key shift="T" unshift="t" size="25"></key>
        <key shift="Y" unshift="y" size="25"></key>
        <key shift="U" unshift="u" size="25"></key>
        <key shift="I" unshift="i" size="25"></key>
        <key shift="O" unshift="o" size="25"></key>
        <key shift="P" unshift="p" size="25"></key>
        <key shift="{" unshift="[" size="25"></key>
        <key shift="}" unshift="]" size="25"></key>
        <key shift="|" unshift="backslash" size="40"></key>
      </div>
      <div class="keyboard-row">
        <key shift="caps" unshift="caps" size="45"></key>
        <key shift="A" unshift="a" size="25"></key>
        <key shift="S" unshift="s" size="25"></key>
        <key shift="D" unshift="d" size="25"></key>
        <key shift="F" unshift="f" size="25"></key>
        <key shift="G" unshift="g" size="25"></key>
        <key shift="H" unshift="h" size="25"></key>
        <key shift="J" unshift="j" size="25"></key>
        <key shift="K" unshift="k" size="25"></key>
        <key shift="L" unshift="l" size="25"></key>
        <key shift=":" unshift=";" size="25"></key>
        <key shift='"' unshift="'" size="25"></key>
        <key shift="enter" unshift="enter" size="62"></key>
      </div>
      <div class="keyboard-row">
        <key shift="shift" unshift="shift" size="60"></key>
        <key shift="Z" unshift="z" size="25"></key>
        <key shift="X" unshift="x" size="25"></key>
        <key shift="C" unshift="c" size="25"></key>
        <key shift="V" unshift="v" size="25"></key>
        <key shift="B" unshift="b" size="25"></key>
        <key shift="N" unshift="n" size="25"></key>
        <key shift="M" unshift="m" size="25"></key>
        <key shift="<" unshift="," size="25"></key>
        <key shift=">" unshift="." size="25"></key>
        <key shift="?" unshift="/" size="25"></key>
        <key shift="bshift" unshift="bshift" size="74"></key>
      </div>
      <div class="keyboard-row">
        <key shift="ctrl" unshift="ctrl" size="25"></key>
        <key shift="win" unshift="win" size="25"></key>
        <key shift="alt" unshift="alt" size="25"></key>
        <key shift="space" unshift="space" size="190"></key>
        <key shift="alt" unshift="alt" size="25"></key>
        <key shift=">" unshift="<" size="25"></key>
        <key shift="larrow" unshift="larrow" size="25"></key>
        <div class="keyboard-special-button">
          <key shift="up" unshift="up" size="25"></key>
          <key shift="dn" unshift="dn" size="25"></key>
        </div>
        <key shift="rarrow" unshift="rarrow" size="25"></key>
      </div>
    </div>
  </div>
</div>
